@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap");
*,
*::before,
*::after{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: "Jost" ,sans-serif;
}
.main_div{
    width:100vw;
    height:100vh;
    background-color:whitesmoke;
    display:grid;
    place-items: center;
}
.music_container{
    width:35rem;
    height:55rem;
    background-color:whitesmoke;
    border-radius:2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding:3rem;
    text-align:center;
}
.music_container #tital{

    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #171717;
    margin:2rem 0 0.5rem 0;
    font-size:2.5rem;
    font-weight:500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
}
.music_container #artist{

    text-transform: capitalize;
    letter-spacing: 0.1rem;
    word-spacing: .05rem;
    color: #cccaca;
    margin-bottom: 4rem ;
    font-size:2rem;
    font-weight:300;
    /* text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3); */
}
.img_container{
    width:25rem;
    height:25rem;
    margin:auto;
}
img{
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
}
.music_controls{

    width:20rem;
    display:flex;
    justify-content:space-between;
    margin:auto;
    align-items:center;

    margin-top:5rem;

}
.music_controls .fas{
    color: #111111;
    font-size:2rem;
    cursor: pointer;
    filter: drop-shadow( 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2));
}
.music_controls .main_button{
    width:5rem;
    height:5rem;
    border-radius: 50%;
    color: #f6f6f6;
    background-color: #111111;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 1.4rem;
}
.music_controls .fas:hover{
    color: grey;
}
.music_controls .fa-play:hover{
    background-color:whitesmoke;
    color:#111;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0.4);
}

.anime{
    animation: 3s linear  infinite ;
}







    